{% extends 'base.html' %}

{% block title %}Recomendaciones{% endblock %}

{% block body %}
{% block content %}

<div class="cont-rec">

    <div class="commander-rec">
        <img class="commander-rec-pic" src={{ pic_commander }}>
        <h3>{{ commander }}</h3>
    </div>

    <div class="card-rec">
    {% for rec in recoms %}
        <div class="card-rec-card">
        <a href={{ url_for('com_recoms', commander=rec["commander"]) }}>
            <img class="card-rec-pic" src={{ rec["pic"] }}>
        </a>
        <p class="card-rec-name">{{rec["commander"]}}</p>
        <p class="card-rec-sim">(Similitud: {{ rec["similitud"] }}{{ "%" }})</p>
        <p>
            <a class="card-rec-link" href={{ rec["url"] }}, target="_blank">Scryfall</a>
        </p>
        </div>
    {% endfor %}
    </div>

</div>

{% endblock content %}
{% endblock body %}