{% extends 'base.html' %}

{% block title %}Recomendaciones{% endblock %}

{% block body %}
{% block content %}

<div class="cont-rec">

    <div class="commander-rec">
        <img class="commander-rec-pic" src={{ commander_data.url_img }}>
        <h3>{{ commander_data.card_name }}</h3>
        <p>
            <a class="card-rec-link" href={{ commander_data.url_scryfall }}, target="_blank">Scryfall</a>
        </p>

    </div>

    <div class="card-rec">
    {% for rec in recomendaciones %}
        <div class="card-rec-card">
        <a href={{ url_for('rec_prueba', commander=rec.commander.card_id) }}>
            <img class="card-rec-pic" src={{ rec.commander.url_img }}>
        </a>
        <p class="card-rec-name">{{ rec.commander.card_name }}</p>
        
        <p class="card-rec-sim">
        {% if rec.similitud >= 50 %}
        <img class="sim_icon" src={{ url_for('static', filename="img/sim_alto.png") }}> 
        {% elif rec.similitud >= 30 %}
        <img class="sim_icon" src={{ url_for('static', filename="img/sim_medio.png") }}> 
        {% else %}
        <img class="sim_icon" src={{ url_for('static', filename="img/sim_bajo.png") }}> 
        {% endif %}
        Similitud: {{ rec.similitud | round(1, "floor") }}{{ "%" }}
        </p>

        <p>
            <a class="card-rec-link" href={{ rec.commander.url_scryfall }}, target="_blank">Scryfall</a>
        </p>
        </div>
    {% endfor %}
    </div>

</div>

{% endblock content %}
{% endblock body %}